* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
ul {
  list-style-type: none;
}
.navigation-1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.navigation-2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.navigation-1:hover {
  color: #2196f3;
  cursor: pointer;
}
.navigation-2:hover {
  color: #2196f3;
  text-decoration: none;
  cursor: pointer;
}
.navigation-1:focus {
  color: #2196f3;
  cursor: pointer;
}
.navigation-2:focus {
  color: #2196f3;
  text-decoration: none;
  cursor: pointer;
}
.gallery {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
}
.sub-gallery {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  border-color: #757575;
  padding-top: 4px;
}
.portfolio-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  box-sizing: border-box;
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}
.portfolio-buttons:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.portfolio-buttons:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-studio-white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.logo-studio-black {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.address {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.mail-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.mail-header:hover,
.mail-header:focus {
  color: #2196f3;
  text-decoration: none;
}
.icon-header {
  margin-right: 8px;
}
.first-page {
  width: 1600px;
  height: 600px;
  margin: auto;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 50%
    ),
    url(/images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
  margin: auto;
}
.order {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  border-width: 0px;
}
.button-order {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.first-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
}
.first-list-paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.our-team-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.our-team-list {
  box-sizing: border-box;
  width: 270px;
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-p {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
.container-header {
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.class-header {
  width: 1200px;
  height: 80px;
  display: flex;
  margin: 0 auto;
  align-items: baseline;
  justify-content: space-between;
}
.nav-container {
  display: flex;
  margin-left: -290px;
}
.nav-list:not(:last-child) {
  margin-right: 46px;
}
.contact-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contact {
  justify-content: flex-end;
}
.lorem {
  display: flex;
  padding-top: 94px;
  justify-content: center;
}
.about-us {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.our-team {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.our-team-box {
  width: 100%;
  background-color: #f5f4fa;
  padding-bottom: 94px;
  margin: auto;
}
.image {
  width: 270px;
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.image > h3 {
  text-align: center;
  padding-top: 30px;
}
.image > p {
  text-align: center;
  padding-top: 10px;
}
.mail-main-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.mail-main-footer:hover {
  color: #2196f3;
}
.mail-main-footer:focus {
  color: #2196f3;
}
.mail-portfolio-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  text-decoration: underline;
}
.mail-portfolio-footer:hover {
  color: #2196f3;
}
.mail-portfolio-footer:focus {
  color: #2196f3;
}
.phone {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
}
.phone:hover,
.phone:focus {
  color: #2196f3;
}
.section-footer {
  width: 100%;
  background: #2f303a;
  margin: auto;
}
.footer-items {
  width: 1200px;
  display: flex;
  flex-direction: column;
}
.footer-container {
  width: 1200px;
  margin: auto;
  display: flex;
}
.logo-footer {
  box-sizing: border-box;
  max-width: 1200px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer-mail {
  padding-bottom: 60px;
  line-height: 1.71;
}
.menu {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 572px;
}

.menu-list:not(:last-child) {
  margin-right: 8px;
}
.gallery-main {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  margin: auto;
}
.gallery-list {
  flex-basis: calc((100% - 60px) / 3);
}
.image-portfolio {
  width: 370px;
  height: 404px;
  box-sizing: border-box;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  cursor: pointer;
}
.image-portfolio:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.image-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.image-portfolio > h3 {
  padding-left: 24px;
}
.image-portfolio > p {
  padding-left: 24px;
  padding-bottom: 20px;
}
.footer {
  padding-top: 9px;
}
.logo {
  padding-top: 24px;
}
.portfolio {
  box-sizing: border-box;
  width: 572px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 94px;
}
.gallery-section {
  max-width: 1170px;
  margin: auto;
  padding-bottom: 94px;
}
.icons-social-media {
  display: flex;
  justify-content: center;
}
.icon-team {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  margin-top: 16px;
  margin-right: 10px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.icons-social-media > a:not(:last-child) {
  margin-right: 10px;
}
.div-lorem {
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.communicationiconsvg {
  fill: #757575;
}
.mail-header:hover .communicationiconsvg {
  fill: #2196f3;
}
.phone:hover .communicationiconsvg {
  fill: #2196f3;
}
.mail-header:focus .communicationiconsvg {
  fill: #2196f3;
}
.phone:focus .communicationiconsvg {
  fill: #2196f3;
}
.icon-lorem {
  fill: #afb1b8;
}
.icon-team:hover,
.icon-team:focus {
  background-color: #2196f3;
  fill: #ffffff;
  border-radius: 50%;
}
.our-clients {
  width: 100%;
}
.clients-box {
  fill: rgba(175, 177, 184, 1);
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.clients-box:hover {
  fill: #2196f3;
  border-color: #2196f3;
}
.clients-box:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.clients-box:not(:last-child) {
  margin-right: 30px;
}
.clients-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: auto;
  margin-bottom: 94px;
}
.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 72px;
  margin-left: 70px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  margin-right: 10px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.icons:hover,
.icons:focus {
  background-color: #2196f3;
}
.join-middle-box {
  width: 206px;
  display: flex;
  margin-left: 70px;
}
.img-header {
  position: cover;
}
.main-foto {
  width: 1600px;
  height: 600px;
  margin: auto;
}
